@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(111, 17, 175, 1) 0%,
    rgba(255, 95, 127, 1) 50%,
    rgba(255, 150, 3, 1) 100%
  );
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4rem 10fr 4rem;
  height: 100%;
  font-family: "Anuphan", sans-serif;

  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
}

header,
footer {
  background-color: rgba(255, 255, 255, 0.5);
  color: #bc3b96;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  font-size: 22px;
}

header {
  grid-area: 1/1/2/3;
}

footer {
  grid-area: 3/1/4/3;
}

.project-legend,
.task-legend {
  padding: 0.5rem 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.project-legend {
  text-align: center;
}

.legend-task-name {
  justify-self: center;
}

.legend-due {
  justify-self: center;
}

.task-legend {
  display: grid;
  grid-template-columns: 12fr 3fr 3fr 1fr 1fr;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.sidebar-project {
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
  padding: 0.7rem;
}

.active-project {
  background-color: rgba(255, 255, 255, 0.3);
}

.task-content,
.projects-sidebar {
  color: white;
  height: 100%;
}

.task-container,
.project-container {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  color: white;
  padding: 0 1rem;
}

.task-div {
  display: grid;
  grid-template-columns: 12fr 3fr 3fr 1fr 1fr;
  gap: 3px;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.task-div.checked {
  background-color: rgba(255, 255, 255, 0.1);
}

.checkbox {
  border: 2px solid #bc3b96;
}

.checkbox.low-prio {
  border: 2px solid #ffa221;
}

.checkbox.medium-prio {
  border: 2px solid #ff7a52;
}

.checkbox.high-prio {
  border: 2px solid #f95d81;
}

.check-and-task-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-name {
  width: 100%;
}

.task-date,
.delete-button {
  justify-self: center;
}

.add-task-icon-container,
.add-project-icon-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.65rem 1rem;
  margin: 3px 1rem 1rem 1rem;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}

.new-project-input-and-button {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 3px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

select {
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 19px;
}
.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../resources-and-notes/edit_calendar_white_24dp.svg");
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  background: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background 300ms;
  cursor: pointer;
}

[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: transparent;
  background-size: contain;
}

[type="checkbox"]:checked {
  background-color: currentcolor;
  display: flex;
  justify-self: center;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.checked {
  color: rgba(255, 255, 255, 0.3);
}

.new-task-form-container {
  display: grid;
  grid-template-columns: 12fr 2fr 4fr 2fr;
  gap: 10px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.task-form-check-task-container {
  display: grid;
  grid-template-columns: auto 10fr;
  gap: 7px;
  padding-right: 0.5rem;
}

.task-form,
.project-form {
  padding: 3px 1rem;
}

.task {
  display: flex;
  flex-direction: column;
}

#checkbox {
  align-self: center;
}

.project {
  display: flex;
}

.task > input,
.project > input {
  width: 100%;
  padding: 3px;
  appearance: none;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(111, 17, 175, 0.7);
  outline: none;
  font-size: 16px;
}

.task > input::placeholder,
.project > input::placeholder {
  color: rgba(111, 17, 175, 0.4);
}

.due-date {
  display: flex;
  gap:10px;
  text-align: center;
  justify-content: flex-end;
}

button {
  padding: 3px;
  appearance: none;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem auto 10fr 4rem;
  }

  .projects-sidebar {
    grid-area: 2/1/2/2;
  }

  .task-content {
    grid-area: 3/1/4/2;
  }

  footer {
    grid-area: 4/1/5/2;
  }
}

