* {
  margin: 0;
  padding: 0;
}

.sidebar-project {
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
}

body {
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 30px;
}

.task-form {
  border: 2px solid rgb(200, 200, 200);
}

.task-div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.check-and-task-container {
  display: flex;
  gap: 10px;
}

.checked {
  color: rgb(186, 186, 186);
  text-decoration: line-through rgb(133, 133, 133);
}

.task-container {
  display: flex;
  flex-direction: column;
}

.add-project-icon-container,
.add-task-icon-container {
  padding: 10px;
  background-color: lightblue;
}

.new-project-input-and-button {
  display: flex;
  justify-content: space-between;
}

.active-project {
  background-color: lightcoral;
}