* {
  margin: 0;
  padding: 0;
}

.sidebar-project {
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

body {
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  padding: 50px;
  gap: 30px;
}

.task-div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.check-and-task-container {
  display: flex;
  gap: 10px;
}

.checked {
  color: rgb(186, 186, 186);
  text-decoration: line-through rgb(133, 133, 133);
}

.task-element {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr;
  grid-template-rows: auto 1fr 1fr;
}

.task-container {
  grid-column-start: 1;
  grid-column-end: 5;
}

.add-project-icon-container,
.add-task-icon-container {
  padding: 10px;
  background-color: lightblue;
}

.new-project-input-and-button,
.new-task-form-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.active-project {
  background-color: rgb(255, 230, 230);
}

.project-name {
  padding-right: auto;
}